@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --blue: rgb(94, 164, 220);
}

html {
  background-color: #020912;
  box-sizing: border-box;
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  /* text-align: center; */
  /* color: #2c3e50; */
  /* margin-top: 60px; */
}

.collapsible {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}
